<div>
    <table class="periodic-table">
        <tr>
            <td class="nonmetal element"><span>1</span> H</td>
            <td class="blank" colspan="16"></td>
            <td class="noble"><span>2</span> He</td>
        </tr>
        <tr>
            <td class="alkali"><span>3</span> Li</td>
            <td class="alkaline"><span>4</span> Be</td>
            <td class="blank" colspan="10" rowspan="2"><app-element-details [elementDetails$]=details$ *ngIf="isShowing"></app-element-details></td>
            <td class="metalloid"><span>5</span> B</td>
            <td class="nonmetal"><span>6</span> C</td>
            <td class="nonmetal"><span>7</span> N</td>
            <td class="nonmetal"><span>8</span> O</td>
            <td class="nonmetal"><span>9</span> F</td>
            <td class="noble"><span>10</span> Ne</td>
        </tr>
        <tr>
            <td class="alkali"><span>11</span> Na</td>
            <td class="alkaline"><span>12</span> Mg</td>
            <td class="post-transition"><span>13</span> Al</td>
            <td class="metalloid"><span>14</span> Si</td>
            <td class="nonmetal"><span>15</span> P</td>
            <td class="nonmetal"><span>16</span> S</td>
            <td class="nonmetal"><span>17</span> Cl</td>
            <td class="noble"><span>18</span> Ar</td>
        </tr>
        <tr>
            <td class="alkali"><span>19</span> K</td>
            <td class="alkaline"><span>20</span> Ca</td>
            <td class="transition"><span>21</span> Sc</td>
            <td class="transition"><span>22</span> Ti</td>
            <td class="transition"><span>23</span> V</td>
            <td class="transition"><span>24</span> Cr</td>
            <td class="transition"><span>25</span> Mn</td>
            <td class="transition"><span>26</span> Fe</td>
            <td class="transition"><span>27</span> Co</td>
            <td class="transition"><span>28</span> Ni</td>
            <td class="transition"><span>29</span> Cu</td>
            <td class="transition"><span>30</span> Zn</td>
            <td class="post-transition"><span>31</span> Ga</td>
            <td class="metalloid"><span>32</span> Ge</td>
            <td class="metalloid"><span>33</span> As</td>
            <td class="nonmetal"><span>34</span> Se</td>
            <td class="nonmetal"><span>35</span> Br</td>
            <td class="noble"><span>36</span> Kr</td>
        </tr>
        <tr>
            <td class="alkali"><span>37</span> Rb</td>
            <td class="alkaline"><span>38</span> Sr</td>
            <td class="transition"><span>39</span> Y</td>
            <td class="transition"><span>40</span> Zr</td>
            <td class="transition"><span>41</span> Nb</td>
            <td class="transition"><span>42</span> Mo</td>
            <td class="transition"><span>43</span> Tc</td>
            <td class="transition"><span>44</span> Ru</td>
            <td class="transition"><span>45</span> Rh</td>
            <td class="transition"><span>46</span> Pd</td>
            <td class="transition"><span>47</span> Ag</td>
            <td class="transition"><span>48</span> Cd</td>
            <td class="post-transition"><span>49</span> In</td>
            <td class="post-transition"><span>50</span> Sn</td>
            <td class="metalloid"><span>51</span> Sb</td>
            <td class="metalloid"><span>52</span> Te</td>
            <td class="nonmetal"><span>53</span> I</td>
            <td class="noble"><span>54</span> Xe</td>
        </tr>
        <tr>
            <td class="alkali"><span>55</span> Cs</td>
            <td class="alkaline"><span>56</span> Ba</td>
            <td class="blank"></td>
            <td class="transition"><span>72</span> Hf</td>
            <td class="transition"><span>73</span> Ta</td>
            <td class="transition"><span>74</span> W</td>
            <td class="transition"><span>75</span> Re</td>
            <td class="transition"><span>76</span> Os</td>
            <td class="transition"><span>77</span> Ir</td>
            <td class="transition"><span>78</span> Pt</td>
            <td class="transition"><span>79</span> Au</td>
            <td class="transition"><span>80</span> Hg</td>
            <td class="post-transition"><span>81</span> Tl</td>
            <td class="post-transition"><span>82</span> Pb</td>
            <td class="post-transition"><span>83</span> Bi</td>
            <td class="post-transition"><span>84</span> Po</td>
            <td class="metalloid"><span>85</span> At</td>
            <td class="noble"><span>86</span> Rn</td>
        </tr>
        <tr>
            <td class="alkali"><span>87</span> Fr</td>
            <td class="alkaline"><span>88</span> Ra</td>
            <td class="blank"></td>
            <td class="transition"><span>104</span> Rf</td>
            <td class="transition"><span>105</span> Db</td>
            <td class="transition"><span>106</span> Sg</td>
            <td class="transition"><span>107</span> Bh</td>
            <td class="transition"><span>108</span> Hs</td>
            <td class="unknown"><span>109</span> Mt</td>
            <td class="unknown"><span>110</span> Ds</td>
            <td class="unknown"><span>111</span> Rg</td>
            <td class="unknown"><span>112</span> Cn</td>
            <td class="unknown"><span>113</span> Nh</td>
            <td class="unknown"><span>114</span> Fl</td>
            <td class="unknown"><span>115</span> Mc</td>
            <td class="unknown"><span>116</span> Lv</td>
            <td class="unknown"><span>117</span> Ts</td>
            <td class="unknown"><span>118</span> Og</td>
        </tr>
        <br>
        <tr id="lanthanoid">
            <td class="blank" colspan="3" rowspan="2"><div class="bigbox"><span>118</span><p>P</p></div></td>
            <td class="lanthanoid"><span>57</span> La</td>
            <td class="lanthanoid"><span>58</span> Ce</td>
            <td class="lanthanoid"><span>59</span> Pr</td>
            <td class="lanthanoid"><span>60</span> Nd</td>
            <td class="lanthanoid"><span>61</span> Pm</td>
            <td class="lanthanoid"><span>62</span> Sm</td>
            <td class="lanthanoid"><span>63</span> Eu</td>
            <td class="lanthanoid"><span>64</span> Gd</td>
            <td class="lanthanoid"><span>65</span> Tb</td>
            <td class="lanthanoid"><span>66</span> Dy</td>
            <td class="lanthanoid"><span>67</span> Ho</td>
            <td class="lanthanoid"><span>68</span> Er</td>
            <td class="lanthanoid"><span>69</span> Tm</td>
            <td class="lanthanoid"><span>70</span> Yb</td>
            <td class="lanthanoid"><span>71</span> Lu</td>
        </tr>
        <tr>
            <td class="actinoid"><span>89</span> Ac</td>
            <td class="actinoid"><span>90</span> Th</td>
            <td class="actinoid"><span>91</span> Pa</td>
            <td class="actinoid"><span>92</span> U</td>
            <td class="actinoid"><span>93</span> Np</td>
            <td class="actinoid"><span>94</span> Pu</td>
            <td class="actinoid"><span>95</span> Am</td>
            <td class="actinoid"><span>96</span> Cm</td>
            <td class="actinoid"><span>97</span> Bk</td>
            <td class="actinoid"><span>98</span> Cf</td>
            <td class="actinoid"><span>99</span> Es</td>
            <td class="actinoid"><span>100</span> Fm</td>
            <td class="actinoid"><span>101</span> Md</td>
            <td class="actinoid"><span>102</span> No</td>
            <td class="actinoid"><span>103</span> Lr</td>
        </tr>

    </table>
</div>