<div>
    <table>
        <tr>
            <td class="attribute">Atomic #</td>
            <td class="data">{{elementDetails$.atomicNumber}}</td>
            <td class="attribute">Atomic Wt</td>
            <td class="data">{{elementDetails$.atomicWeight}}</td>
            <td class="attribute">e<sup>-</sup> Config</td>
            <td class="data">{{elementDetails$.elecConfig}}</td>
            <td class="attribute">Group: </td>
            <td class="data">{{elementDetails$.group}}</td>
        </tr>
        
        <tr>
            <td class="attribute">Symbol</td>
            <td class="data">{{elementDetails$.symbol}}</td>
            <td class="attribute">Element</td>
            <td class="data">{{elementDetails$.element}}</td>
            <td class="attribute">Period</td>
            <td class="data">{{elementDetails$.period}}</td>
            <td class="attribute">Block</td>
            <td class="data">{{elementDetails$.block}}</td>
        </tr>
    </table>
</div>